<!--<h1><%= t('.title') %></h1>-->
<h1>Page d'enregistrement d'une étiquette</h1>

<%= render 'form', label: @label %>


<%= link_to t('common.back'), labels_path, id: "back", class:"btn btn-primary" %>
